/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya untuk body */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4e5a6d; /* Warna teks gelap */
    line-height: 1.6;
    padding: 20px;
}

/* Gaya untuk heading */
h1 {
    color: #7369ff;
    margin-bottom: 20px;
    text-align: center;
}

/* Gaya untuk tautan */
a {
    text-decoration: none;
    color: #fff;
    background: #18395f;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;

}

a:hover {
    text-decoration: underline;
}

/* Gaya untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #1d3b7c;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #6972c2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #ffeef8;
}



/* Gaya untuk tautan di dalam tabel */
td a {
    color: #ffffff; 
}

td a:hover {
    text-decoration: underline;
}